body {
    font-family: "Calibri", Verdana, Sans-serif;
    margin: 50px 50px 50px 50px;	
}

h1 {
    font-size: 1.875em; /* 30px/16=1.875em */
    color: #003976; 
}

h2 {
    font-size: 1.4em; 
    color:#003976; 
}

h3 {
    font-size: 1.2em; 
    color: #0068AE;
}

h4 {
	color: #0068AE;
}

p, dt, dd, li {
    font-size: 0.875em; 
}

/* style for the toc */
p.toc {
		margin: 0 0 0 10px;
}

p.toc_l_two {
		margin: 0 0 0 30px;
} 

p.toc_l_three {
		margin: 0 0 0 50px;
} 

img.example_image {
		max-width:500px;
}

.copyright_notice {
	font-style: italic;
	margin: 35px 15px 35px 15px;
}

/* style for the use case examples */
.usecase_title {
	font-weight: bold;
	padding: 0 0 5px 0;   
}
.usecase_remarks {
	clear: both;
}

.example {
  clear: both;
  margin: 30px 0 0 0;   
  padding: 5px 5px 5px 5px;
  background-color: #F2F2F2;
}
.example_part {
	clear: both;
	min-width:500px;
	max-width:1000px;
}
.example_left {
  float:left;
  width:500px;
}
.example_right {
  float:right;
  width:500px;
}

